<div class="component-page">
	<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
		<div class="text-center">
			<h4>Bevakningar</h4>
			<p>Klicka på klubben för att välja tid och dag att bevaka</p>
		</div>
		<hr>
		<div id="accordion" class="panel-group">
			<ul class="club-selector">
				<li *ngFor="let club of clubs; let i = index">
					<div class="media">
						<div class="media-left">
							<img class="media-object" src="img/{{club.image}}" data-toggle="collapse" [attr.data-target]="'#slot-target-' + i" alt="...">
						</div>
						<div class="media-body">
							<h4 class="media-heading" data-toggle="collapse" [attr.data-target]="'#slot-target-' + i">{{club.name}}</h4>
							<p><span class="glyphicon glyphicon-map-marker" data-toggle="collapse" [attr.data-target]="'#slot-target-' + i"></span>								Stockholm</p>
						</div>
						<div class="media-right">
							<a class="club-time-selector-edit" data-toggle="collapse" data-parent="#accordion" href="#slot-target-{{i}}"><i class="fa fa-pencil-square-o link-edit" aria-hidden="true"></i></a>
						</div>

						<div id="slot-target-{{i}}" class="panel-collapse collapse">
							<date-and-time-selector></date-and-time-selector>
						</div>

					</div>
				</li>
			</ul>
		</div>
		<!--<p class="message text-left"><a [routerLink]="['/']" class="btn btn-link">Lägg till ett tidsspann för helger</a></p>-->
		<button [disabled]="loading">Fortsätt</button>
		<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
		/>
	</form>
</div>