@import url(https://fonts.googleapis.com/css?family=Roboto:300,bold,medium,regular);

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  font-family: "Roboto", sans-serif;   
  /*padding-left: 10px;
  padding-right: 0px; */
}

h3 {    
  font-size: 20px;
}
nav {
  width: 95%;
  max-width: 600px;
  margin-top: 30px;
  margin-left: auto ;
  margin-right: auto ;
}

h4 {
  /*font-weight: medium;*/
   font-weight: 400;
}

#logo {
  color: white;
  font-weight: bold;
  font-size: 3em;
}

.container {
  width: 95%;
  max-width: 600px;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin-top: 10px;
  margin-left: auto ;
  margin-right: auto ;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   
}

.media-left, .media>.pull-left {
  padding-right: 20px;
}

.component-page {
  margin-bottom: 30px;
  padding: 10px;
}

.component-page h2 {
  margin-bottom: 30px;
}

.form {
  max-width: 360px;
  padding: 45px;
  text-align: center;
}

.form-wrapper {
  max-width: 360px;
  margin: auto;
}

form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
form button:hover,form button:active,form button:focus {
  background: #43A047;
}
form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
form .message a {
  color: #4CAF50;
  text-decoration: none;
}
form .register-form {
  display: none;
}

a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.media-object {
  width: 44px;
  height: 44px;
}

.club-selector {
  list-style-type: none;
  padding: 10px;
  width: 100%;
}

.club-selector li {
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray !important;
}

.club-time-selector-edit, .club-time-selector-edit:hover, .club-time-selector-edit:visited, .club-time-selector-edit:link, .club-time-selector-edit:active {
  color: #333;
  text-decoration: none;
}

.ignore-interval-checkbox {
padding-left: 2px;
padding-right: 0;
}

.club-time-selector-edit i {
  margin-top: 3px;
  font-size: 26px;
}

.link-as-header, .link-as-header:focus, .link-as-header:hover {
  color: #333;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}

.link-edit {
  margin-left: 10px;
  font-size: 18px;
}



label.btn span {
  font-size: 1.5em ;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #ffa266;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #ffa266;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}

label input[type="checkbox"]{
    display: none;
}

label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #ffa266;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
color: #ffa266;
}

div[data-toggle="buttons"] label.active{
    color: #ffa266;
}

div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;<i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid #c8c8c8;
border-radius: 3px;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #ffa266;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}

.alert {
  text-align: center;
  margin-top: 30px;
  margin-bottom: -20px;
}


table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

.ui-widget-header {
    background: #ffa266 !important;
}

.ui-slider-handle:focus {
    outline: none;
 }

.ui-slider-handle {
    width: 1.6em !important;
    height: 1.6em !important;
    top: -.4em !important;
    border: 2px solid #c8c8c8 !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.home-list {
    list-style-type: none;
    padding: 10px;
    width: 100%;
}

.home-list p {
    margin-top: 20px;
    font-size: 16px;
}

.home-list li {
    border-bottom: 1px solid lightgray !important;
}

.home-list li a {
  color: #333;
  text-decoration: none;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  
  display: flex;
  align-items: center;
}

.home-list li h4 {
  margin: 0;
}