<div class="form-wrapper">
	<form class="form" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <h2>Logga in</h2>
        <br >
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
			<input placeholder="E-post" type="text" name="email" [(ngModel)]="model.email" #email="ngModel" required />
			<div *ngIf="f.submitted && !email.valid" class="help-block">E-post krävs för att kunna logga in</div>
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
			<input placeholder="Lösenord" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
			<div *ngIf="f.submitted && !password.valid" class="help-block">Lösenord krävs för att kunna logga in</div>
		</div>
		<div class="form-group">
			<button [disabled]="loading">Logga in</button>
			<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
			/>
			<p class="message">Har du inget konto? <a class="btn btn-link" [routerLink]="['/skapa-konto']">Registrera dig</a></p>
		</div>
	</form>
</div>